<div>

    <div v-show="upload.status=='ready'" class="img-upload-tool-box">
        <div class="img-tabs">
            <div class="img-tab" @click="tabItem='resource'" :class="{active:tabItem =='resource'}">素材资源</div>
            <div class="img-tab" @click="tabItem='uploadImg'" :class="{active:tabItem == 'uploadImg'}">上传图片</div>
        </div>
        <div class="img-box" v-show="tabItem == 'resource'">
            
            <ul class="img-list">
                <li class="img-item" v-for="item in imgList" :key="item" @click="selectImg(item)">
                    <img :src="item.url" alt="">
                </li>
            </ul>
            <div class="btns">
                <button @click="prevImages">上一页</button>
                <button @click="nextImages">下一页</button> 图片素材：{{imgCount}}张
            </div>
            
        </div>
        <div class="upload-box" v-show="tabItem == 'uploadImg'">
            <input type="file" ref="file" style="display: none !important;" @change="process" accept="image/png,image/jpeg,image/gif,image/jpg">
            <button type="button" @click="pick">{{$parent.locale.upload}}</button>
        </div>
    </div>

    <div v-if="upload.status=='progress'">
        {{$parent.locale.progress}}:{{upload.progressComputable ? $parent.locale.unknown : upload.complete}}
    </div>

    <div v-if="upload.status=='success'">
        {{$parent.locale["please wait"]}}...
    </div>

    <div v-if="upload.status=='error'">
        {{$parent.locale.error}}:{{upload.errorMsg}}
        <button type="button" @click="reset">{{$parent.locale.reset}}</button>
    </div>

    <div v-if="upload.status=='abort'">
        {{$parent.locale.upload}}&nbsp;{{$parent.locale.abort}},
        <button type="button" @click="reset">{{$parent.locale.reset}}</button>
    </div>

</div>